<!DOCTYPE html>
<html lang="en", id="Html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Commons</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'selector',
            theme: {
                extend: {
                keyframes: {
                  'slide-in': {
                    '0%': { transform: 'translateY(-20px)', opacity: '0' },
                    '100%': { transform: 'translateY(0)', opacity: '1' },
                  },
                },
                animation: {
                  'slide-in': 'slide-in-down 0.3s ease-out',
                },
                colors: {
                    clifford: '#da373d',
          }
        }
      }
    }
    </script>
</head>
<body>
    {%include "Navbar.html"%}
    {%include 'Footer.html'%}
</body>
</html>