<section class="py-16 bg-white text-center dark:bg-slate-800 transition-colors duration-200">
    <h2 class="text-3xl font-bold mb-10 dark:text-white transition-colors duration-200">Why Should I Join?</h2>
    <div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="p-6 rounded-xl bg-green-50 dark:bg-green-950 transform-gpu hover:-translate-y-1 hover:shadow-lg shadow-sm hover:shadow-green-200 dark:hover:shadow-green-800 transition-all duration-200 ease-in-out hover:scale-105">
        <h3 class="font-semibold mb-2 dark:text-green-300 text-green-700 transition-colors duration-200">Nice People</h3>
        <p class="text-gray-600 dark:text-gray-400">You can socialize here and also talk with people making friends in the process</p>
    </div>
    <div class="p-6 rounded-xl bg-yellow-50 dark:bg-yellow-950 transform-gpu hover:-translate-y-1 hover:shadow-lg shadow-sm hover:shadow-yellow-200 dark:hover:shadow-yellow-800 transition-all duration-200 ease-in-out hover:scale-105">
        <h3 class="font-semibold mb-2 text-yellow-700 dark:text-yellow-300 transition-colors duration-200">Events</h3>
        <p class="text-gray-600 dark:text-gray-400">Lot of events for you to compete [No Requirements Don't Worry].</p>
    </div>
    <div class="p-6 rounded-xl bg-red-50 dark:bg-red-950 transform-gpu hover:-translate-y-1 hover:shadow-lg shadow-sm hover:shadow-red-200 dark:hover:shadow-red-800 transition-all duration-200 ease-in-out hover:scale-105">
        <h3 class="font-semibold mb-2 text-red-700 dark:text-red-300 transition-colors duration-200">Discuss</h3>
        <p class="text-gray-600 dark:text-gray-400">You can discuss your projects here [Basically Flexing].</p>
    </div>
    </div>
</section>